DIV#filmstrip_placeholder {
  border: solid #313131 1px !important; 
  color: #313131 !important;
  background-color: white !important;
  background-image: url(data:image/gif;base64,R0lGODlhIAAgAIQAAAQCBISGhNTS1ERCROzq7Hx+fKSmpExOTPT29AwODOTi5Ly+vNza3ExKTPTy9FRWVAwKDIyKjNTW1ERGROzu7KyqrFRSVPz+/BQSFMTCxAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgAXACwAAAAAIAAgAAAFueAljmRpnmiqrmyrClkmIe6KZAse0zUKL7mcoIfSAXXEkxGXS5okzODQSboFd9QSApYR8LJglaMSiFQcYRElUmgXIoS0we2upAMFfP59d+sDaRVtegV2YQRsbnBpF2MBAWeMkioEBQ0NBXFpCgcDngMNCmkFn58FaQ2lnhMiCg8YEA+iNROqA6wMGAC7ABgMNaSqpxa8vBY1CrWlvxDFuwk9lZ4Fs83O0GHEzgdpDAnFCb+bDxCxsyshACH5BAkKABcALAAAAAAgACAAAAW/4CWO5IhIWSYhZeu6SLosKfveLUrPmYC3jkogUnGIMrxd5keiRArQQoRwke1ozFElGq1cBFekL3sJQM2FQOASC9uy6HNahBCkBO/sNt0l4whPUVN+OEFqFVSEiosjBAENDQWJjCQKBwOYAw0KlCQFmZkFnSMToJgToyKlpqipn6aiqQqrmQypIgSvBZy3vT8KDwkJD7ypDBgAyQAYtqkWysoWtxDQyQnT1QDXztkHtwwJ0AnNsg8QEMS+6uvsLyEAIfkECQoAFwAsAAAAACAAIAAABcLgJY7k6FRBUFFl67pUUMxBRLy4W9FzUeUtQqDRCNwust4sMhJkMhKES3EYWAcNBZK3vDgyC/BTWipcr4XLjvtzLsJhQatxtk4uhEghabuI32ItE3VWIicpFUd/YGEtZnVpOG6AC3IlCoNnDDkIixlkJQSPBVpACBJPAqBArEAKDwkJFqWtOQwYALkACZu1OBa6uha+OBDBuQnEL8bHycotB8cAw88lDAnBvNUtrxAQD7Tb4uPk5ebn6Onq6+zt7u8XIQAh+QQJCgAXACwAAAAAIAAgAAAFxOAljuRIFE1TEGXrusoxzMOhvLhb0HSRt4oHBvK4XRq82UTkqAQiFYeLgQFYARjGZZIcLCmRgrgQYZUs16vlskv6DONxpQVJWxMXBZenDYj9BQEBdHYAeBcnMwVGgIF/LWh2BzkVjn8GLQwJaQlaOARhjmUwDxBERjlNghVmP66vsDgIAhkZEgixOQi1Cxm9uLkutL29GQLBLr6+C8wZyC3KxLXPJRLLzAvH1CO70hlS29y0xsDh5ufo6err7O3u7/DxzyEAIfkECQoAFwAsAAAAACAAIAAABb7gJY7kqDxJYill67oMBswAxry4a9G0lf8jCG+WEBECjUaAACQJh0XFYUAdNFjNy254uBSq1UL2wkjwErcGmDoZX04QyAM7WQ/abtd3Lc63FHVgN34tBHsFWISKihQVAREVDoskFBEFlwURTJMXFZiYFZwXAZekBQEBoqanpaKerJehnASWmJqiFw6OARWbuL8jAhkZAgi4CBkLycPGnMILysoCosvQy9TRycqiEtrR05zI2RnN4cLE5cDq600hACH5BAkKABcALAAAAAAgACAAAAW94CWOZGmeaKqubOu2yoNBj/KqDAbsAMbcKAuPZwGeIMNdwmhCJpdMkjB5iJIYiWHiZx3FIDRbd/wiBBqNAIF8URwG8EFD3C3E4wVy4w6fkCd8A35jdnx5YwqAd1xjBIUFdGySFw4VAREGDmwUEQWeBRFrYxWfAZ4VQAIZGRIIIqafnhEvCBkLtquusKa8L6oLt7cCF6SesKguuMC4FwSdsKEvyra3IpUBARWiLhLUwcNjtcGrmmQIqhkCriwhACH5BAkKABcALAAAAAAgACAAAAW74CWOZGmeaKqubOu+cCzPdG3feK7v/Kg8GMhDkWNgAEgAhoGzJJMHHOSJTEipAOvNSY3eGIlngon7QYTEHkqQyUgQLEKg0QgQTojMQt+GpxQHA4IDDWkkbAt7ewIqBYODBSZ8iXwiDhUBERUOIg2PghOSinp7FxQRBakFEXcTnwOhJRKkiowVqqoVF46fkSV5oxlwAanEBQEBFwquj2S/bBkCfsbFxyIEvAWGLbfHqgY4BKiqrDmXyJstIQAh+QQJCgAXACwAAAAAIAAgAAAFvuAljmRpnmiqrmzrvnAsz3Rt33iu76iQZRJEDpFZFH/Cm29hNApwR+YRKpVmcIJmcfG8EasZh86XESR5aJGjEohUxCvFAwN5KE6USGFfiBBUDBgAgwAYDCYVfHwVKhaEhBYmAXuTBQEBIgQBDQ0BfxcQj4MJkoqTmAoHA6sDDXehoqQliZaLFwWsrAUXjqIHJgR6fH4XDbmrExcSgoQJhyZrlxWfE8cDyRcKFhB1dy+4x7s3CtW5zzcE4AXeKyEAOw==);
  background-repeat: no-repeat !important;
  background-position: center center !important;        
  text-align: center !important;  
}

VIDEO#filmstrip_video {
  background-color: black !important;  
  z-index: 10000 !important;
}

DIV#filmstrip_fullscreen {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  z-index: 1000 !important;
  padding-bottom: 20px !important;
  background-color: black !important;
  overflow: hidden !important;  
}

SMALL#filmstrip_progress {
  font-size: 10pt !important;  
}

IFRAME#filmstrip_iframe {
  display: none !important;
  background-color: white !important;
  width: 638px !important;    
  height: 200px !important;
  border: solid #313131 1px !important;  
}