BODY {
  font-family: sans-serif;
  font-size: 12pt;
}
DIV.strip {
  float: left;
  margin: 4px 0px;
  border: solid green 1px;
}
DIV.strip IMG {
  width: 50px;
}
DIV.break {
  clear: both;
  border: solid red 1px;
}      
DIV.break IMG {
  width: 50px;
}      
UL LI {
  display: inline;
}
SMALL {
  font-size: 0.5em;
}
DIV.embedded {
  display: none;
}
DIV.video {
  float: left;
}
DIV.canvas {
  float: left;
}
DIV.canvas CANVAS {
  margin-left: 5px;
}
DIV.scenes {
  clear: both;
}
DIV.label {
  display: inline-block;
  width: 0.5em;
}
SPAN.debug_options {
  display: none;
}
INPUT.options {
  width: 3em;
}